<div id="<%= dom_id leader %>">
  <p>
    <strong>First name:</strong>
    <%= leader.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= leader.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= leader.last_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= leader.suffix %>
  </p>

  <p>
    <strong>Preferred name:</strong>
    <%= leader.preferred_name %>
  </p>

  <p>
    <strong>Other names:</strong>
    <%= leader.other_names %>
  </p>

  <p>
    <strong>Pronouns:</strong>
    <%= leader.pronouns %>
  </p>

  <p>
    <strong>Self identified gender:</strong>
    <%= leader.self_identified_gender %>
  </p>

</div>
