<p style="color: green"><%= notice %></p>
<div class="columns">
  <div class="column">
    <%= render "application/sidebar", leader:@leader %>
  </div>
  <div class="column is-three-quarters">
    <%= render @leader %>
  </div>
</div>
<div>
  <%= link_to "Edit this leader", edit_leader_path(@leader) %> |
  <%= link_to "Back to leaders", leaders_path %>
  <%= button_to "Destroy this leader", @leader, method: :delete %>
</div>
