<%= form_with(model: [@leader, @contact_information]) do |form| %>
  <% if contact_information.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact_information.errors.count, "error") %> prohibited this contact_information from being saved:</h2>

      <ul>
        <% contact_information.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :leader_id, style: "display: block" %>
    <%= form.text_field :leader_id %>
  </div>

  <div>
    <%= form.label :physical_street_address1, style: "display: block" %>
    <%= form.text_field :physical_street_address1 %>
  </div>

  <div>
    <%= form.label :physical_street_address2, style: "display: block" %>
    <%= form.text_field :physical_street_address2 %>
  </div>

  <div>
    <%= form.label :physical_street_address3, style: "display: block" %>
    <%= form.text_field :physical_street_address3 %>
  </div>

  <div>
    <%= form.label :physical_city, style: "display: block" %>
    <%= form.text_field :physical_city %>
  </div>

  <div>
    <%= form.label :physical_state, style: "display: block" %>
    <%= form.text_field :physical_state %>
  </div>

  <div>
    <%= form.label :physical_zip, style: "display: block" %>
    <%= form.text_field :physical_zip %>
  </div>

  <div>
    <%= form.label :physical_country, style: "display: block" %>
    <%= form.text_field :physical_country %>
  </div>

  <div>
    <%= form.label :permanent_street_address1, style: "display: block" %>
    <%= form.text_field :permanent_street_address1 %>
  </div>

  <div>
    <%= form.label :permanent_street_address2, style: "display: block" %>
    <%= form.text_field :permanent_street_address2 %>
  </div>

  <div>
    <%= form.label :permanent_street_address3, style: "display: block" %>
    <%= form.text_field :permanent_street_address3 %>
  </div>

  <div>
    <%= form.label :permanent_city, style: "display: block" %>
    <%= form.text_field :permanent_city %>
  </div>

  <div>
    <%= form.label :permanent_state, style: "display: block" %>
    <%= form.text_field :permanent_state %>
  </div>

  <div>
    <%= form.label :permanent_zip, style: "display: block" %>
    <%= form.text_field :permanent_zip %>
  </div>

  <div>
    <%= form.label :permanent_country, style: "display: block" %>
    <%= form.text_field :permanent_country %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :phone_type, style: "display: block" %>
    <%= form.text_field :phone_type %>
  </div>

  <div>
    <%= form.label :alternate_phone, style: "display: block" %>
    <%= form.text_field :alternate_phone %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
